*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* shared style */
.p-color{
    color: #627382;
}
.h-color{
    color: #001931;
    font-size: 48px;
}
.btn{
    background-color: #469165;
    border-radius: 4px;
    border: none;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}
.btn:hover{
    background-color: green;
    cursor: pointer;
}

.nav-bar nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 120px;
}
.nav-bar nav ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    /* color: #000000; */
    opacity: 90%;
}
.nav-bar nav ul a{
    text-decoration: none;
    color: #000000;
}

.hero{
    background-image: url('../assets/hero-bg.png');
    /* max-width: 1600px; */
    height: 674px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: 0 auto;
    /* margin-bottom: 50px; */
}
.hero .hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-top: 115px;
}
.hero-text .top-button{
    color: #469165;
    background-color: #FFFFFF;
    background-image: url('../assets/group1.png');
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-position: 12px 9.5px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px 8px 34px;
}
.hero-text .title{
    font-size: 36px;
    font-weight: 700;
    line-height: 84px;
    color: #FFFFFF;
    opacity: 90%;
    text-align: center;
    padding: 16px auto;
}
.hero-text .title span{
    color: #30B868;
    display: block;
}
.hero-text .text p{
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    width: 675px;
    text-align: center;
}
.hero-text .down-button{
    display: flex;
    gap: 16px;
}
.hero-text .down-button .first-btn{
    background-color: #469165;
    border-radius: 4px;
    padding: 16.5px 45px 16.5px 16px;
    border: none;
    background-image: url('../assets/ArrowRight.png');
    background-repeat: no-repeat;
    background-position: 200px;
    background-size: 10%;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
}
.hero-text .down-button .first-btn:hover{
    background-color: green;
}
.hero-text .down-button .second-btn{
    padding: 16.5px 16px 16.5px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: rgba(203, 22, 22, 0);
}
.hero-text .down-button .second-btn i{
    padding-right: 10px;
}
.hero-text .down-button .second-btn:hover{
    background-color: green;
    cursor: pointer;
}

.app-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
    padding: 120px;
    justify-content: flex-start;
}
.app-one .title{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}
.app-one .card-container{
    display: flex;
    gap: 24px;
}
.app-one .card-container img{
    background-color: #F95555;
    border: 10px solid #F95555;
    border-radius: 50%;
}
.card-container .card{
    width: 322px;
    height: 300px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding-top: 70px;
    gap: 16px;
    box-shadow: 5px 0px 10px whitesmoke;
}
.card-container .card h3{
    padding: 16px;
}

.app-two{
    display: flex;
    gap: 60px;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.app-two .text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.app-two .text .text-head{
    color: #469165;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
.app-two .text .text-title{
    font-size: 24px;
    font-weight: 700;
}
.app-two .text .text-info{
    font-size: 16px;
    line-height: 20px;
}
.app-two .text .text-bullet{
    color: #001931;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.app-two .text .text-bullet i{
    color: white;
    background-color: #30B868;
    border-radius: 50%;
}
.early-access{
    max-width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    padding-top: 80px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
    margin-bottom: 120px;

}
.early-access h1{
    font-size: 40px;
    font-weight: 700;
}
.early-access button{
    background-image: url('../assets/ArrowRight.png');
    background-repeat: no-repeat;
    background-position: 153px 11px;
    max-width: max-content;
    padding-right: 40px;
}

footer{
    background-color: #001931;
    height: 348px;
}
footer div{
    display: flex;
    justify-content: space-around;
    
}
footer img{
    height: 60px;
    width: 139px;
    margin-top: 120px;
}
.social{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 120px;
}
.social h6{
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}
.social div{
    display: flex;
    gap: 16px;
}
.social div a{
    text-decoration: none;
    color: #000000;
}
.social i{
    background-color: #FFFFFF;
    border-radius: 50%;
}
footer hr{
    color: rgba(155, 32, 32, 0.0);
    opacity: 20%;
    width: 1360px;
    margin: 80px auto;
}
footer p{
    background-color: #001931;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 50px;
}